<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "../agp-menu/agp-header.html" %}
  </head>
  <body data-titlepage="tambahsimpanan">
    <div class="wrapper">
      {% include "../agp-menu/agp-body.html" %}
      <!--form member-->
      <div class="w-100 p-0 position-relative">
        <!-- navbar -->
        <nav class="d-flex justify-content-between navbars">
          <div class="btn p-2">
            <i class="fas fa-bars" id="menu-toggle"></i>
          </div>
          <div class="d-flex">
            <div class="py-2 px-2">
              <i
                class="btn fas fa-bell"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              ></i>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item bg-primary text-light" href="#"
                  >Transaksi Pinjaman Baru</a
                >
                <a class="dropdown-item" href="#">Anggota Baru Ditambahkan</a>
                <a class="dropdown-item" href="#">Transaksi Simpanan Baru</a>
              </div>
              <i class="btn fas fa-sign-out-alt"></i>
            </div>
          </div>
        </nav>
        <!-- end navbar -->

        <div class="main-content pt-5">
          <div class="mb-3 mx-3 shadow p-3 bg-white rounded text-center">
            <h3 class="d-block mb-3"> Selamat datang di Koperasi Wahidiyah</h3>
            <p>Mulai transaksi anda, dengan melakukan transaksi simpanan atau pinjaman</p>
            <div class="col-sm-12 col-md-8 mx-auto">
              <div class="row m-0 p-0">
                <div class="col-md-6 px-3">
                    <div class="card mb-sm-5 shadow">
                      <img class="card-img-top p-2 bg-primary"
                        src="static/lib/img/money-pack/044-money-3.png" style="max-height: 400px;" alt="Simpanan">
                      <div class="card-body text-center">
                        <h4 class="card-title">Simpanan</h4>
                        <p class="card-text">Untuk mengisi saldo simpanan anda. Klik Mulai</p>
                        <a class="btn btn-success text-white btn-block">Mulai</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 px-3">
                    <div class="card mb-sm-5 shadow">
                      <img class="card-img-top p-2 bg-warning"
                        src="static/lib/img/money-pack/040-loan.png" style="max-height: 400px;" alt="Pinjaman">
                      <div class="card-body text-center">
                        <h4 class="card-title">Pinjaman</h4>
                        <p class="card-text">Pinjaman dapat dilakukan dibawah saldo simpanan anda.</p>
                        <a class="btn btn-success text-white btn-block">Mulai</a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <!--endform member-->
    </div>
  </body>
  {% include "../agp-menu/agp-footer.html" %}
</html>
