<script src="/static/lib/jquery.js"></script>
<script src="/static/lib/tabelbootstrap/popper.js"></script>
<script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>


<!-- chart script -->
<script src="/static/lib/chartistjs/dist/chartist.min.js"></script>


<!-- table script -->
<script src="/static/lib/tabelbootstrap/bootstrap-table-master/dist/bootstrap-table.min.js"></script>
<script src="/static/lib/tabelbootstrap/jqueryresizecolumn.js"></script>
<script src="/static/lib/tabelbootstrap/bootstrap-table-master/dist/extensions/resizable/bootstrap-table-resizable.js"></script>


<!-- main scripts -->
<script src="/static/lib/main.js"></script>
