<script src="/static/lib/jquery.js"></script>
<script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- script table -->
<script src="/static/lib/tabelbootstrap/bootstrap-table-master/dist/bootstrap-table.min.js"></script>
<script src="/static/lib/tabelbootstrap/jqueryresizecolumn.js"></script>
<script src="/static/lib/tabelbootstrap/bootstrap-table-master/dist/extensions/resizable/bootstrap-table-resizable.js"></script>
<script src="/static/lib/main.js"></script>
