<!DOCTYPE html>
<html>
  <head>
    <title>Login|Koperasi Wahidiyah</title>
    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./lib/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="./lib/add.css">
  </head>
  <body id="login">
    <div class="wrapperlogin">
      <div class="login-container col-sm-9 col-md-5 col-xl-4 px-5 shadow-lg">
          <div class="col text-center mb-5">
            <img src="./lib/img/logo.png" alt="Koperasi Wahidiyah">
          </div>
          <div class="form-box">
              <form action="" method="">
                <input class="inputlogin mt-3" name="user" type="text" placeholder="email">
                <input class="inputlogin mt-2" type="password" placeholder="password">
                <button class="btn bg-main btn-block text-light mt-5" type="submit">Login</button>
              </form>
          </div>
      </div>  
    </div>
  </body>
    <script src="./lib/jquery.js"></script>
    <script src="./lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="./lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./lib/main.js"></script>
</html>



